.nav_container {
  padding: 1rem 5%;
  background-color: #202020;
  display: flex;
  gap: 20rem;
  justify-content: space-between;
}

.container {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
}
.loginContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  color: white;
  font-family: "Fira", sans-serif;
  height: 100%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  color: #94fdfd;
}

.logo a {
  text-decoration: none;
  color: #94fdfd;
}

.navigation a {
  text-decoration: none;
  color: #74dacc;
  font-size: 1rem;
}

.container button {
  cursor: pointer;
  font: inherit;
  background-color: #03be9f;
  border: 1px solid #03be9f;
  border-radius: 6px;
  color: #dafff7;
  padding: 0.5rem 1.5rem;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}
.container button:hover {
  background-color: #02afa1;
  border-color: #02afa1;
}

@media (min-width: 768px) {
  .logo {
    font-size: 2.5rem;
  }

  .navigation a {
    font-size: 1.5rem;
  }
}
